<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/login_register.css}">
</head>

<body>
	<div class="page">
		<div class="title">割り勘記録・清算アプリ</div>
		<div class="logo">
			<img src="/img/warimoney_logo.png" class="img" alt="Logo">
			<div class="logo-text">WARIMONEY</div>
		</div>

		<div class="login-card">
			<form th:action="@{/login}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

				<div class="field">
					<label>USERNAME</label>
					<input type="text" name="username" required>
				</div>

				<div class="field">
					<label>PASSWORD</label>
					<input type="password" name="password" required>
				</div>

				<button type="submit" class="btn login-btn">LOGIN</button>
			</form>

			<hr class="divider">

			<a th:href="@{/register}">
				<button class="btn signup-btn">SIGN UP</button>
			</a>
		</div>

		<div class="message">
			<div th:if="${param.error}">
				<p style="color:red">ユーザ名またはパスワードが間違っています。</p>
			</div>
			<div th:if="${param.registered}">
				<p style="color:green">ユーザ登録が完了しました。ログインしてください。</p>
			</div>
		</div>
	</div>
</body>

</html>