<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>清算</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<h2 th:text="${project.projectName} + ' の精算結果'"></h2>
<p>※割り切れなかった支払いは、余りの金額を1円単位で対象メンバーに順に分配しています。</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>メンバー</th>
            <th>支払額</th>
			<th>負担額</th>
            <th>差額</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="r : ${results}">
            <td th:text="${r.memberName}"></td>
            <td th:text="${r.paidAmount} + ' 円'"></td>
            <td th:text="${r.shareAmount} + ' 円'"></td>
            <td>
                <span th:if="${r.balance > 0}" th:text="'+' + ${r.balance} + ' 円（受取）'" class="text-success"></span>
                <span th:if="${r.balance < 0}" th:text="${r.balance} + ' 円（支払）'" class="text-danger"></span>
                <span th:if="${r.balance == 0}">±0 円</span>
            </td>
        </tr>
    </tbody>
</table>

<h3>送金リスト</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>支払う人</th>
            <th>受け取る人</th>
            <th>金額</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="t : ${transfers}">
            <td th:text="${t.from}"></td>
            <td th:text="${t.to}"></td>
            <td th:text="${t.amount} + ' 円'"></td>
        </tr>
    </tbody>
</table>
